################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQ.Publisher.API/obj
/.vs/Utility/v17
